:root {
  --black:          #000;

  --black-opacity:  rgba(0, 0, 0, 0.6);

  --gray:           #e6e6e6;
  --gray2:          #5a5a5a;
  --gray3:          rgb(241, 241, 241);
  --gray4:          #ddd;  

  --green:          #00852c;
  --green2:         #02a83a;

  --blue:           #3737ff;
}