$block: '.desc';

#{$block} {
  &__title {
    font-weight: 800;
    font-size: 18px;
  }

  &__text {
    padding: 8px;
    min-height: 60px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--gray);
    cursor: pointer;

    &--fill {
      padding: 10px 0;
      background: transparent;
    }
  }

  &__input {
    margin: 0 0 10px;
    padding: 10px;
    height: 100px;
  }
}