$block: '.comments';

#{$block} {
  &--no-comments {
    #{$block}__wrapper {
      margin: 0;
    }
  }

  &__wrapper {
    margin: 0 0 25px;
    background: #fff;
    border: 1px solid var(--gray);
    border-radius: 5px;
    overflow: hidden;

    &--active {
      padding: 8px 10px 10px;
      box-shadow: 0 10px 10px -5px var(--gray4);
    }
  }

  &__btn {
    padding: 8px 10px 10px;
    width: 100%;
    text-align: left;
    font-family: Gilroy;
    font-size: 16px;
  }

  &__input {
    padding: 0;
    height: 25px;
    border: 0;

    &:focus {
      border: 0;
    }
  }
}